.errorText {
    transition: all 2s ease-in-out;
    margin-top: 10px;
    color: rgb(220, 19, 19);
    font-size: 13px;
    margin-left: 16px;
}

.inside-two-input-container {
    display: flex;
    justify-content: space-between;
}

.form-input-holder-container {
    width: 100%;
    margin: 10px;
}

input.form-input-holder,

select.form-input-holder,
textarea.form-input-holder {
    background-color: #9a9da012;
    padding: 10px;
    border: 1px solid #9a9da084;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
    outline: none;
    transition: 0.2s ease-in-out;

}

input.form-input-holder,
select.form-input-holder {
    padding-top: 17px;
    padding-bottom: 17px;
}

input.form-input-holder:focus,
textarea.form-input-holder :focus {
    background-color: #fff;
    border: 1px solid #9a9da084;

}

textarea.form-input-holder {
    resize: none;
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    border: 1px solid red !important;
    transition: all 2s ease-in-out;
}