.errorText {
    transition: all 2s ease-in-out;
    margin-top: 10px;
    color: rgb(220, 19, 19);
    font-size: 13px;
    margin-left: 16px;
}

.inside-two-input-container {
    display: flex;
    justify-content: space-between;
}

.form-input-holder-container {
    width: 100%;
    margin: 10px;
}

input.form-input-holder {
    border: 0px;
    padding: 10px;
    border: 1px solid #4ade809c;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

textarea.form-input-holder {
    border: 0px;
    padding: 10px;
    border: 1px solid #4ade809c;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    resize: none;
    margin-top: 5px;
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    border: 1px solid red !important;
    transition: all 2s ease-in-out;
}